<% content_for :title, "Contact" %>
<% meta_tag :description, "Contact Page for The Bridge Church. Find information about our staff, where to find us, and how to email and call us, all right here!" %>


<h1 class='headr'>Need Someone to talk to?</h1>
<div class="hblk"></div>
<div class="cont" id="smalltext">
  <%= image_tag("outside.jpg", alt: "Outside photo of The Bridge Church", id: "contimg") %>
  <p>
    If you have any questions, feel free to call our office or any one of our staff members. They are always open to answer any questions you may have. Or just be there for you, if you just want to talk. Our office hours are 9-5 Monday through Friday.
  </p>
  <div class="staffinfo" id="first">
    <h2>Phone</h2>
    <p>___-___-____</p>
    <h2>E-Mail</h2>
    <p>____@thebridge4all.org</p>
  </div>
</div>

<h1 class='headr'>Staff</h1>
<div class="hblk"></div>
<div class="cont staff">
  <div id="mike" title="Lead Pastor for The Bridge Church Mike Parker">

  </div>
  <div>
    <h1>Mike Parker</h1>
    <p>Mike Parker was born in Baton Rouge, Louisiana. He spent his college days at Louisiana College (Pineville, LA) and did his graduate work – Masters & Doctorate – at Southern Baptist Center (Jacksonville, FL). Mike began his preaching ministry as a Youth Evangelist and was ordained to the Gospel ministry in 1971. He served several churches in Louisiana before he and his wife Dianne and their two children (Kristy & Kevin) moved to Warner Robins, Ga.  Since his move to Warner Robins, Mike has served several churches, and in October 2016, he started The Bridge Church.  Mike has also had the privilege of serving on numerous Boards and being involved with the Pastor-in-Residence ministry – a ministry to exited pastors. He best describes his life and his ministry as “Blessed to Bless”.
    </p>
  </div>
  <div class="staffinfo">
    <h2>Phone</h2>
    <p>478-397-1494</p>
    <h2>E-Mail</h2>
    <p>mikeparker@windstream.net</p>
  </div>
  <br/>

</div>

<div class="cont staff">
  <div id="john" title="Music Minister for The Bridge Church John Davis">
  </div>
  <div>
    <h1>John Davis</h1>
    <p>
      John Davis is a native Texan transplanted to Georgia over 20 years ago.  After attending Baptist college and seminary in Texas, John served in Music Ministry and other positions in churches in Texas and Georgia.  John is married to his wife, Mitzi.  They have two grown children and four grandchildren.  John’s passion is to see people worshipping God in spirit and in truth.
  </p>
  </div>
  <div class="staffinfo">
    <h2>Phone</h2>
    <p>478-997-9318</p>
    <h2>E-Mail</h2>
    <p>jdavisjr@yahoo.com</p>
  </div>
  <br/>

</div>


</div>
<h1 class='headr'>Where to Find Us</h1>
<div class="hblk"></div>
<div class="cont map">
  <div>
    <iframe frameborder="0"
    src="https://www.google.com/maps/embed/v1/view?zoom=17&center=32.5550%2C-83.7189&key=AIzaSyCP8OXSFcEjH4PQ0AY_IOvxbQKI0_JDCsI" allowfullscreen></iframe>
  </div>
  <div width="80vw">
    <p>
      Just off Highway 41, come down and see us any time.
    </p>
  </div>
</div>
