<h1 class='headr'>Need Someone to talk to?</h1>
<div class="hblk"></div>
<div class="cont" id="smalltext">
  <p>
    If you have any questions, feel free to call one of our staff members. They are always open to answer any questions you may have. Or just be there for you, if you just want to talk.
  </p>
</div>

<h1 class='headr'>Staff</h1>
<div class="hblk"></div>
<div class="cont staff">
  <div>
    <%= image_tag("image3.png", :alt => "Pastor", :id => "icon") %>
  </div>
  <div>
    <h1>Mike Parker</h1>
    <p>
      Jeffrey Demarco Teague (born June 10, 1988) is an American professional basketball player for the Minnesota Timberwolves of the National Basketball Association (NBA). Teague played college basketball for Wake Forest University before being selected 19th overall in the 2009 NBA draft by the Atlanta Hawks. He was named an NBA All-Star in 2015, after averaging 15.9 points per game.
    </p>
  </div>
  <div class="staffinfo">
    <h2>Phone</h2>
    <p>478-397-1494</p>
    <h2>E-Mail</h2>
    <p>mikeparker@windstream.net</p>
  </div>
  <br/>

</div>

<div class="cont staff">
  <div>
    <%= image_tag("image1.png", :alt => "Pastor", :id => "icon") %>
  </div>
  <div>
    <h1>John Davis</h1>
    <p>
  Jeffrey Demarco Teague (born June 10, 1988) is an American professional basketball player for the Minnesota Timberwolves of the National Basketball Association (NBA). Teague played college basketball for Wake Forest University before being selected 19th overall in the 2009 NBA draft by the Atlanta Hawks. He was named an NBA All-Star in 2015, after averaging 15.9 points per game.
    </p>
  </div>
  <div class="staffinfo">
    <h2>Phone</h2>
    <p>478-997-9318</p>
    <h2>E-Mail</h2>
    <p>jdavisjr@yahoo.com</p>
  </div>
  <br/>

</div>


</div>
<h1 class='headr'>Where to Find Us</h1>
<div class="hblk"></div>
<div class="cont map">
  <div>
    <iframe frameborder="0"
    src="https://www.google.com/maps/embed/v1/view?zoom=17&center=32.5550%2C-83.7189&key=AIzaSyCP8OXSFcEjH4PQ0AY_IOvxbQKI0_JDCsI" allowfullscreen></iframe>
  </div>
  <div width="80vw">
    <p>
      Just off Highway 41, come down and see us any time.
    </p>
  </div>
</div>
