<h1 class='headr'>Our Message</h1>
<div class="hblk"></div>
<div class="cont mss">
  <div >
      <h2>The Bridge</h2>
  </div>
  <p>
    We are a welcoming and growing Baptist church located in the heart of middle Georgia. No matter who you are, or where you are in life, we have a spot for you here. We are committed servants of the one true God. We just want to be the Bridge between you and Jesus.
  </p>

  <div>
      <h2>The Cross</h2>
  </div>
  <p>
    The cross is the center of the Gospel message, and it is the message we share at The Bridge Church. There is
an insurmountable gap between Holy God and sinful man that is impossible for man to cross. We also
believe that while man cannot get to God by his own efforts, God took the initiative and built a Bridge in the
form of a cross and on that cross, “Christ died for our sins”. Jesus said, “I am the Way, the Truth and the
Life, and no man comes to the Father but by Me.”
  </p>
  <div>
      <h2>The World</h2>
  </div>
  <p>
    The world is represented by the globe and it serves as a reminder and a challenge for us to get on our hearts
what God has on His, and that is the entire world. God’s Word tells us, “For God so loved the world, He gave
His only begotten Son…”. It behooves us to not only reach people in our own little “worlds”, but to be
involved in sharing the Good News locally and globally—across the street and across the seas.
  </p>
  <div>
      <h2>The Bowl and Towel</h2>
  </div>
  <p>
    At the Bridge Church it is our joy to be “bridge people”. The cross is our message, and the field is the world.
We believe we are never more like Jesus than when we are servants. Our desire is to serve God, and in
humility to be used by God to meet needs in people’s life’s.
  </p>

</div>

<h1 class='headr'>Classes</h1>
<div class="hblk"></div>
<div class="cont class">
  <div>
    <%= image_tag("young.jpg", :alt => "Pastor", :id => "ssicon") %>
  </div>
  <div>
    <h1>Young Adults</h1>
    <p>
      Our Young Adult Class. For anyone who is early in their life, has young kids, is fresh out of college, and looking to connect with others like themselves.
    </p>
    <div id="infobox">
      <div>
        <h2>Where?</h2>
        <h4>Young Adult Room</h4>
      </div>
      <div>
        <h2>Meeting Time</h2>
        <h4>9 AM Sundays</h4>
      </div>
      <div style="flex-grow: 1;">
        <h2>Contact Leader</h2>
        <h4>Dianne Parker</h4>
      </div>
    </div>
  </div>
  <br/>
  <div id='bar'></div>
</div>

<div class="cont class">
  <div>
    <%= image_tag("middle-age.jpg", :alt => "Pastor", :id => "ssicon") %>
  </div>
  <div>
    <h1>Median</h1>
    <p>
      For those who have been around the block enough to know what's going on. This class is for those who have been adults for a good while, but still have youth in them.
    </p>
    <div id="infobox">
      <div>
        <h2>Where?</h2>
        <h4>Median Room</h4>
      </div>
      <div>
        <h2>Meeting Time</h2>
        <h4>9 AM Sundays</h4>
      </div>
      <div style="flex-grow: 1;">
        <h2>Contact Leader</h2>
        <h4>Jack Brown</h4>
      </div>
    </div>
  </div>
  <br/>
  <div id='bar'></div>
</div>

<div class="cont class">
  <div>
    <%= image_tag("three-women.jpg", :alt => "Pastor", :id => "ssicon") %>
  </div>
  <div>
    <h1>Seniors</h1>
    <p>
      For those who have lived life to the fullest. Reccomended for people sixty-five years old or older.
    </p>
    <div id="infobox">
      <div>
        <h2>Where?</h2>
        <h4>Senior's room</h4>
      </div>
      <div>
        <h2>Meeting Time</h2>
        <h4>9 AM Sundays</h4>
      </div>
      <div style="flex-grow: 1;">
        <h2>Contact Leader</h2>
        <h4>Gene Waites</h4>
      </div>
    </div>
  </div>
  <br/>
  <div id='bar'></div>
</div>

<h1 class='headr'>Ministry Action Teams</h1>

<div class="hblk"></div>
<div class="cont" id="smalltext">
    <h1>Prayer Team</h1>
    <p>
    </p>
</div>

<div class="cont" id="smalltext">
    <h1>HUGGS</h1>
    <p></p>

</div>


<div class="cont" id="smalltext">
    <h1>Expansion Project</h1>
    <p>
    </p>
</div>
  <br/>
  <div class="cont class" id="smalltext">

      <h1>Landscaping Team</h1>
      <p>
      </p>

  </div>
  <br/>
  <div class="cont" id="smalltext">
      <h1>Ushers</h1>
      <p>
      </p>

  </div>
  <br/>

  <div class="cont" id="smalltext">
      <h1>Interior Decorating</h1>
      <p>
      </p>
  </div>
  <br/>

  <div class="cont" id="smalltext">
      <h1>Building Maintenance</h1>
      <p>
      </p>
  </div>
  <br/>
</div>
  <br/>
