<h1 class='headr'>Our Vision</h1>
<div class="hblk"></div>
<div class="cont mss">
  <div >
      <h1>The Bridge</h1>
  </div>
  <p>
    The Bridge Church is  a welcoming and growing Baptist church located in the heart of middle Georgia. No matter who you are, or where you are in life, we have a spot for you here. We are committed servants of the one true God. We just want to be the Bridge between you and Jesus. Jesus said "I am the Way, the Truth, and the Life. No one comes to the Father except through Me"(John 4:16).
  </p>

  <div>
      <h1>The Cross</h1>
  </div>
  <p>
    The cross is the center of the Gospel message, and it is the message we share at The Bridge Church. There is
an insurmountable gap between Holy God and sinful man that is impossible for man to cross. We also
believe that while man cannot get to God by his own efforts, God took the initiative and built a Bridge in the
form of a cross and on that cross, “Christ died for our sins”. Jesus said, “I am the Way, the Truth and the
Life, and no man comes to the Father but by Me.”
  </p>
  <div>
      <h1>The World</h1>
  </div>
  <p>
    The world is represented by the globe and it serves as a reminder and a challenge for us to get on our hearts
what God has on His, and that is the entire world. God’s Word tells us, “For God so loved the world, He gave
His only begotten Son…”. It behooves us to not only reach people in our own little “worlds”, but to be
involved in sharing the Good News locally and globally—across the street and across the seas.
  </p>
  <div>
      <h1>The Bowl and Towel</h1>
  </div>
  <p>
    At the Bridge Church it is our joy to be “bridge people”. The cross is our message, and the field is the world.
We believe we are never more like Jesus than when we are servants. Our desire is to serve God, and in
humility to be used by God to meet needs in people’s life’s.
  </p>

</div>
